body {
    background-color:blueviolet;
    color: white;
    font-size: large;
}
h1{color: brown;

}
.primertitulo{
    color: chartreuse;
    text-align: center;
}
.segundotitulo{
    text-align: center;
}
#barramenu{
    background-color: aqua;
    text-align: center;
}
